<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table {
      border-collapse: collapse;
      text-align: center;
    }
    th, td {
      border: 1px solid #aaa;
      padding: 8px 16px;
    }

    .active {
      background-color: skyblue;
    }
  </style>
</head>
<body>

  <div id="app">
    <template v-if="this.data.length">
      <table>
        <thead>
          <tr>
            <th>序号</th>
            <th>商品名称</th>
            <th>生产日期</th>
            <th>价格</th>
            <th>数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in data" 
              :key="item.id"
              @click="rowClick(index)"
              :class="{active: index === this.currentIndex}">
            <td> {{ index + 1 }}</td>
            <td> {{ item.name }}</td>
            <td> {{ item.date }}</td>
            <td> {{ formatPrice(item.price) }}</td>
            <td> 
              <button :disabled="item.count <= 1" @click="desc(index)">-</button>
              {{ item.count }}
              <button @click="asc(item)">+</button>
            </td>
            <td>
              <button @click="removeItem(index)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>总价：{{ formatPrice(totalPrice) }} </h2>
    </template>

    <template v-else>
      <h2>怎么不买东西呀？</h2>
    </template>
  </div>

  <script src="../js/vue.js"></script>
  <script src="../js/data.js"></script>
  <script>
    const app = Vue.createApp({
      data: function() {
        return {
          data: products,
          currentIndex: -1
        }
      },

      computed: {
        totalPrice: function() {
          let s = 0
          for (let i = 0; i < this.data.length; i++) {
            s += this.data[i].price * this.data[i].count
          }
          return s
        }
      },

      methods: {
        formatPrice(val) {
          return "￥" + val
        },

        desc(index) {
          console.log("数量--")
          this.data[index].count--
        },

        asc(item) {
          console.log("数量++")
          item.count++
        },

        removeItem(index) {
          this.data.splice(index, 1);
        },

        rowClick(index) {
          this.currentIndex = index
        }
      }
    })

    app.mount("#app")
  </script>
</body>
</html>